# PhotoCliqa Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=photocliqa_db
DB_USER=photocliqa_user
DB_PASSWORD=

# Server Configuration
SERVER_PORT=3001

# Gemini API (se necessário)
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"